{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/"> Return to dashboard</a>
</div>
<hr/>

<div class="column">
    <h2> Add a category </h2><br>
    <form action="/add_category" method="post">
        <input class="input" placeholder="category" name="category">
        <br><br>
        <input class="input" placeholder="comment (optional)" name="comment">
        <br><br>
        <input class="button" type="submit" value="Add category">
    </form>

</div>

{% endblock %}
