{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/"> Return to dashboard</a>
</div>
<hr/>

<div class="column">
    <h2> Add a bookmark </h2><br>

    <form action="/add_bookmark" method="post">
        <input class="input" placeholder="url" name="url">
        <br><br>

        <div class="columns">
            <div class="column is-2">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <div class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Category</span>
                            <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                        </div>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">

                            {% for category in categories %}

                            <div class="dropdown-item" style="cursor: pointer;" id="category_{{category.category}}" onclick="update_category('{{category.category}}')">
                                {{category.category}}
                            </div>
                            <hr class="dropdown-divider">

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-10">
                <input class="input" id="category" placeholder="Choose a category or create a new one" name="category" value="{{category}}">
            </div>

        </div>
        <input class="input" placeholder="comment (optional)" name="comment">
        <br><br>
        <input class="button" type="submit" value="Add bookmark">
    </form>

</div>

<script>
    function update_category(category_name) {
        document.getElementById('category').value = category_name;
    }

</script>

{% endblock %}
