{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/"> Return to dashboard</a>
</div>
<hr/>

<div class="column">
    <div class="columns">
        <div class="column is-9">
            <h2> {{title}} Categories </h2>
        </div>
        <div class="column is-3">
            <form action="/add_category">
                <input type="hidden" value="{{category}}">
                <button class="button"> Add category</button>
            </form>
        </div>
    </div>
</div>

<div class="column">
    <div class="control has-icons-left">
        <form action="/results/categories" method="post" id="input_form">
            <input class="input" type="search" placeholder="Search all bookmarks" value="{{query}}" name="query">
            <span class="icon is-medium is-left">
                  <i style="cursor: pointer" class="fa fa-search"></i>
            </span>
        </form>
    </div>
</div>

{% for category in categories %}
<div class="column">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="columns">
                    <div class="column is-8">
                        <b> Name: </b> <a href="/bookmarks/category/{{category.category}}"> {{category.category}}</a>
                        <br><br>
                        <b> Comment: </b> {{category.comment}}
                    </div>
                    <div class="column is-2">
                        <form action="/edit_category" method="post">
                            <input type="hidden" value="" name="edit">
                            <input type="hidden" value="{{category._id}}" name="id">
                            <input type="hidden" value="{{category.category}}" name="category">
                            <input type="hidden" value="{{category.comment}}" name="comment">
                            <input type="submit" class="button" value="Edit">
                        </form>
                    </div>
                    <div class="column is-2">
                        <form action="/edit_category" method="post">
                            <input type="hidden" value="" name="delete">
                            <input type="hidden" value="{{category._id}}" name="id">
                            <input type="hidden" value="{{category.category}}" name="category">
                            <input type="submit" class="button" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if pagination != False %}
    <br>
    <div class="column">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        
      {% if page_number == 1 %}
        <a class="pagination-previous">Previous</a>
        <a href="/all_categories?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
            <li><a href="/all_categories?page_number={{page_number + 2}}" class="pagination-link" aria-label="Page {{page_number + 2}}" aria-current="page"> {{page_number + 2}}</a></li>
            <li><a href="/all_categories?page_number={{page_number + 3}}" class="pagination-link" aria-label="Goto page {{page_number + 3}}">{{page_number + 3}}</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

      {% endif %}

      {% if page_number == 2 %}
        <a href="/all_categories?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
        <a href="/all_categories?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a href="/all_categories?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number}}" class="pagination-link is-current" aria-label="Goto page {{page_number}}">{{page_number}}</a></li>
            <li><a href="/all_categories?page_number={{page_number + 1}}" class="pagination-link" aria-label="Page {{page_number + 1}}" aria-current="page"> {{page_number + 1}}</a></li>
            <li><a href="/all_categories?page_number={{page_number + 2}}" class="pagination-link" aria-label="Goto page {{page_number + 2}}">{{page_number + 2}}</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

      {% endif %}

      {% if page_number > 2 %}
        <a href="/all_categories?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
        <a href="/all_categories?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a href="/all_categories?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number - 1}}" class="pagination-link" aria-label="Goto page {{page_number - 1}}">{{page_number - 1}}</a></li>
            <li><a href="/all_categories?page_number={{page_number}}" class="pagination-link is-current" aria-label="Page {{page_number}}" aria-current="page"> {{page_number}}</a></li>
            <li><a href="/all_categories?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="/all_categories?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

          </ul>

    {% endif %}

    </nav>
    </div>

{% endif %}
<br>

{% endblock %}
