{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/"> Return to dashboard</a>
</div>
<hr/>

    {% if is_category == True %}
        <div class="column">
            <div class="columns">
                <div class="column is-6">
                    <h2> {{title}} Bookmarks </h2>
                    <div class="subtitle is-6">Comment: {{comment}}</div>
                </div>

                <div class="column is-2">
                    <form action="/add_bookmark">
                        <input type="hidden" value="{{category}}" name="category">
                        <button class="button"> Add bookmark</button>
                    </form>
                </div>
                <div class="column is-2">
                    <form action="/edit_category" method="post">
                        <input type="hidden" value="{{category}}" name="category">
                        <input type="hidden" value="{{id}}" name="id">
                        <input type="hidden" value="{{comment}}" name="comment">

                        <input type="hidden" value="" name="edit">
                        <button class="button"> Edit category</button>
                    </form>
                </div>
                <div class="column is-2">
                    <form action="/edit_category" method="post">
                        <input type="hidden" value="{{category}}" name="category">
                        <input type="hidden" value="{{id}}" name="id">
                        <input type="hidden" value="{{comment}}" name="comment">
                        <input type="hidden" value="" name="delete">
                        <button class="button"> Delete category</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}


    <div class="column">
        <div class="columns">
            <div class="column is-9">
                <h2> {{title}} Bookmarks </h2>
            </div>
            <div class="column is-3">
                <a class="button" href="/add_bookmark">Add bookmark</a>
            </div>
        </div>
    </div>


    {% endif %}

    <div class="column">
        <div class="control has-icons-left">
            <form action="/results/bookmarks" method="post" id="input_form">
                <input class="input" type="search" placeholder="Search all bookmarks" value="{{query}}" name="query">
                <span class="icon is-medium is-left">
                      <i style="cursor: pointer" class="fa fa-search"></i>
                </span>
            </form>
        </div>
    </div>

{% for bookmark in bookmarks %}
<div class="column">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="columns">
                    <div class="column is-8">
                        <b> Link: </b> <a href="{{bookmark.real_url}}"> {{bookmark.url}} </a>
                        <br>
                        <br>
                        <b> Category: </b> <a href="/bookmarks/category/{{bookmark.category}}">{{bookmark.category}}</a>
                        <br><br>
                        <b> Comment: </b> {{bookmark.comment}}
                    </div>
                    <div class="column is-2">
                        <form action="/edit_bookmark" method="post">
                            <input type="hidden" value="{{bookmark._id}}" name="id">
                            <input type="hidden" value="" name="edit">

                            <input type="hidden" value="{{bookmark.url}}" name="url">
                            <input type="hidden" value="{{bookmark.category}}" name="category">
                            <input type="hidden" value="{{bookmark.comment}}" name="comment">
                            <button class="button">Edit</button>
                        </form>
                    </div>
                    <div class="column is-2">
                        <form action="/edit_bookmark" method="post">
                            <input type="hidden" value="{{bookmark._id}}" name="id">
                            <input type="hidden" value="" name="delete">

                            <input type="hidden" value="{{bookmark.url}}" name="url">
                            <button class="button"> Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if pagination != False %}
    <br>
    <div class="column">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if type != 'category' %}
          {% if page_number == 1 %}
            <a class="pagination-previous">Previous</a>
            <a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 2}}" class="pagination-link" aria-label="Page {{page_number + 2}}" aria-current="page"> {{page_number + 2}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 3}}" class="pagination-link" aria-label="Goto page {{page_number + 3}}">{{page_number + 3}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

          {% endif %}

          {% if page_number == 2 %}
            <a href="/all_bookmarks?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
            <a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a href="/all_bookmarks?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number}}" class="pagination-link is-current" aria-label="Goto page {{page_number}}">{{page_number}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-link" aria-label="Page {{page_number + 1}}" aria-current="page"> {{page_number + 1}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 2}}" class="pagination-link" aria-label="Goto page {{page_number + 2}}">{{page_number + 2}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

          {% endif %}

          {% if page_number > 2 %}
            <a href="/all_bookmarks?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
            <a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a href="/all_bookmarks?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number - 1}}" class="pagination-link" aria-label="Goto page {{page_number - 1}}">{{page_number - 1}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number}}" class="pagination-link is-current" aria-label="Page {{page_number}}" aria-current="page"> {{page_number}}</a></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/all_bookmarks?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

              </ul>
        {% endif %}
     {% else %}
          {% if page_number == 1 %}
            <a class="pagination-previous">Previous</a>
            <a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 2}}" class="pagination-link" aria-label="Page {{page_number + 2}}" aria-current="page"> {{page_number + 2}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 3}}" class="pagination-link" aria-label="Goto page {{page_number + 3}}">{{page_number + 3}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

          {% endif %}

          {% if page_number == 2 %}
            <a href="/bookmarks/category/{{category}}?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
            <a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a href="/bookmarks/category/{{category}}?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number}}" class="pagination-link is-current" aria-label="Goto page {{page_number}}">{{page_number}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-link" aria-label="Page {{page_number + 1}}" aria-current="page"> {{page_number + 1}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 2}}" class="pagination-link" aria-label="Goto page {{page_number + 2}}">{{page_number + 2}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

          {% endif %}

          {% if page_number > 2 %}
            <a href="/bookmarks/category/{{category}}?page_number={{page_number - 1}}" class="pagination-previous">Previous</a>
            <a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a href="/bookmarks/category/{{category}}?page_number=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number - 1}}" class="pagination-link" aria-label="Goto page {{page_number - 1}}">{{page_number - 1}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number}}" class="pagination-link is-current" aria-label="Page {{page_number}}" aria-current="page"> {{page_number}}</a></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 1}}" class="pagination-link" aria-label="Goto page {{page_number + 1}}">{{page_number + 1}}</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a href="/bookmarks/category/{{category}}?page_number={{page_number + 8}}" class="pagination-link" aria-label="Goto page {{page_number + 8}}">{{page_number + 8}}</a></li>

              </ul>
        {% endif %}
     {% endif %}

    </nav>
    </div>

{% endif %}
<br>

{% endblock %}
