{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <div class="title is-2"> Infinity Bookmarks</div>
</div>
<hr/>

<div class="column">
    <h2> Bookmarks </h2>
</div>

<div class="column">

    <div class="columns">
        <div class="column is-6">
            <a class="button" href="/add_bookmark" style="width: 100%">Add bookmark</a>
        </div>

        <div class="column is-6">
            <a class="button" href="/all_bookmarks" style="width: 100%">View bookmarks</a>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="control has-icons-left">
                <form action="/results/bookmarks" method="post" id="input_form">
                    <input class="input" type="search" placeholder="Search all bookmarks" value="{{query}}"name="query">
                    <span class="icon is-medium is-left">
                      <i style="cursor: pointer" class="fa fa-search"></i>
                </span>
                </form>
            </div>
        </div>
    </div>

</div>

<hr/>

<div class="column">
    <h2> Categories </h2>
</div>

    <div class="column">
        <div class="columns">
            <div class="column">
                <a class="button" href="/add_category" style="width: 100%">Add category</a>
            </div>

            <div class="column is-6">
                <a class="button" href="/all_categories" style="width: 100%">View categories</a>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="control has-icons-left">
                    <form action="/results/categories" method="post" id="input_form">
                        <input class="input " type="search" placeholder="Search all categories" value="{{query}}"
                               name="query">
                        <span class="icon is-medium is-left">
                      <i style="cursor: pointer" class="fa fa-search"></i>
                </span>
                    </form>
                </div>
            </div>
        </div>
</div>


<br><br>
{% endblock %}