{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/"> Return to dashboard</a>
</div>
<hr/>

<div class="column">
    <h2> Delete bookmark: "{{url}}" </h2>
    <form action="/edit_bookmark" method="post">
        <input type="hidden" value="{{id}}" name="id">
        <input type="hidden" value="" name="delete">
        <input type="hidden" value="" name="sure">
        Are you sure that you want to delete this bookmark?
        <br>
        <p>
            This action cannot be undone.
        </p>
        <br><br>
        <div class="columns">
            <div class="column">
                <input type="submit" class="button" style="width: 100%" value="Yes">
            </div>
            <div class="column">
                <a href="/" class="button" style="width: 100%;"> No, return to dashboard </a>
            </div>
        </div>

    </form>

</div>

{% endblock %}
