{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/all_categories"> Return to categories</a>
</div>
<hr/>

<div class="column">
    <h2> Delete category: "{{category}}" </h2>
    <form action="/edit_category" method="post">
        <input type="hidden" value="{{id}}" name="id">
        <input type="hidden" value="" name="delete">
        <input type="hidden" value="" name="sure">
        <input type="hidden" value="{{category}}" name="category">

        Are you sure that you want to delete this category? This will delete all of the bookmarks within it.
        <br>
        <p>
            This action cannot be undone.
        </p>
        <br><br>
        <div class="columns">
            <div class="column">
                <input type="submit" class="button" style="width: 100%" value="Yes">
            </div>
            <div class="column">
                <a href="/all_categories" class="button" style="width: 100%;"> No, return to categories </a>
            </div>
        </div>

    </form>

</div>


{% endblock %}
