{% extends 'page_layout.html' %}
{% block content %}

<div class="column">
    <a class="button" href="/all_categories"> Return to categories</a>
</div>
<hr/>

<div class="column">
    <h2> Edit category: "{{category}}" </h2><br>
    <form action="/edit_category" method="post">
        <input type="hidden" value="{{id}}" name="id">
        <input type="hidden" value="" name="update">
        <input type="hidden" name="original" value="{{category}}">
        <input class="input" placeholder="category" name="category" value="{{category}}">
        <br><br>
        <input class="input" placeholder="comment (optional)" name="comment" value="{{comment}}">
        <br><br>
        <input class="button" type="submit" value="Update category">
    </form>

</div>


{% endblock %}
