<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .Site-content {
            flex: 1;
        }
    </style>
</head>
<body class="Site">
<div class="Site-content">

<div style="text-align: center; padding-bottom: 15px; margin-top: 40px;">
    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="/static/logo.png" width="75px" height="75px" alt=""></a>


    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="" style="padding-left: 20%; padding-right: 20%">

    {% if success == True %}
        <div class="column">
            <div class="notification is-success" id="exito">
                <button class="delete" onclick="document.getElementById('exito').hidden=true;"></button>
                {{msg}}
            </div>
        </div>
    {% endif %}
    {% if success == False %}
        <div class="column">
            <div class="notification is-danger" id="failure">
                <button class="delete" onclick="document.getElementById('failure').hidden=true;"></button>
                {{msg}}
            </div>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
</div>
</body>
</html>
